<script>
    window.onload = function() {

        var table = document.getElementById('key-table');
        var num = localStorage.length;

        for(var i=0;i<num;i++) {

            var key = localStorage.key(i);
            if (key.indexOf('gt:')==0 && key!='gt:message-sent-demo-only') {

                var row = table.insertRow(0);
                var cell1 = row.insertCell(0);
                var cell2 = row.insertCell(1);

                var val = '';
                try {
                    val = JSON.stringify(JSON.parse(localStorage.getItem(key)), null, 4);

                } catch(ee) {
                    val = localStorage.getItem(key);
                }

                cell1.innerHTML = key;
                cell2.innerHTML = '<pre>'+ val +'</pre>';
            }
        }
    }
</script>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="/static/favicon.png">

    <title> Green-tracker Introspection </title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/style-log.css" rel="stylesheet">
  </head>
  <script>
    function reset() {
        localStorage.clear();
        alert('All cleared! You are a new user for any of the sites');
        window.location.reload();

    }

    function printLS() {
        localStorage.setItem('xx:count2','42');
        console.log('debug1  from javascript: ', localStorage.getItem('gt:count'), localStorage.getItem('gt:count2'));
        document.getElementById("gt").contentWindow.postMessage('debug1',"http://{{ context.tracker_host }}");
    }


  </script>
  <body>
    <div class="row container-fluid">
        <h2>Your local storage footprint due to green-tracker</h2>
        <p>Dump of your <b>localStorage</b> on the origin <b>{{ context.tracker_host }}</b>. This data is stored locally in your browser. It is never
            sent, and only people with access to your computer has access to it.
        <p>To view the messages that you sent to green-tracker click <a href="/introspect/messages">here</a>.
        You can <a href="javascript:reset()">reset</a> your localStorage anytime, it is like starting as a new user.

        <!-- <p><a href="javascript:printLS()">debug1 only</a> -->
        <table class="table table-striped ">
            <thead>
                <tr>
                     <th>Key</th>
                     <th>Value</th>
                </tr>
            </thead>
            <tbody id="key-table">

            </tbody>
        </table>
    </div>

    <iframe id="gt" src="http://{{context.tracker_host}}/frame" style="display: none;"/>


  </body>
</html>

