<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="/static/favicon.png">

    <title> {{ context.title }} </title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/style-log.css" rel="stylesheet">
  </head>

  <body>
    <div class="row container-fluid">
        <h1>Welcome to the Greentracker Reports</h1>

        <p>This report is built using the data collected by you on the in-vitro experiment. The raw data is available at <code>logs/collect.jl</code>. If you want to
        restart from scratch just deleted the log file, restart <code>server.py</code>, and spend some time clicking around.

        <p>The current tracking depicts page impressions, unique visitors, correlation across sites, patterns within site, goal achievements, returning customers, an even per-user aggregated statistics.

        <p>Needless to say that this analytics are short of a toy example, but they cover the most typical use-cases which typically require tracking the user. Needless to say, <b>to generate this report we
        did NOT require to compromise the privacy of the user in any way.</b>


        <h3>1) Basic Stats</h3>

        <p>We can get measures across a whole population, e.g. the number of MAU, DAU internet users in Germany.

        <p>During the time of the experiment, from {{ context['stats']['min_ts'] }} to {{ context['stats']['max_ts'] }} we have seen:
        <ul>
            <li> {{ context['stats']['new_all'] }} totally new users (never seen before in any site)
            <li> {{ context['stats']['new_day'] }} unique users by day (all sites)
            <li> {{ context['stats']['new_month'] }} unique users by month (all sites)
        </ul>

        <h3>2) Top 3 sites</h3>

        <p>We can measure popularity of sites, both as page loads but naturally as unique visitors too. We can also generate timeseries of the traffic.

            <table class="table table-striped ">
                <thead>
                <tr>
                     <th>Site Name</th>
                     <th>Total Unique Visits</th>
                     <th>Total Loads</th>
                     <th>Timeseries by hours (time, unique visits, loads)</th>
                     <th>Returning users</th>

                </tr>
                </thead>
                <tbody>
                {% for item in context.sites %}
                <tr>
                   <td>{{ item['s'] }}</td>
                   <td>{{ item['num_visits'] }}</td>
                   <td>{{ item['num_loads'] }}</td>
                   <td><pre>{{item['timeseries'] }}</pre></td>
                   <td><pre>{{ context.hreturning[item['s']] }}</pre></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

        <h3>2) Top 10 pages</h3>

        <p>We can have the same popularity rankings based on pages (segmented by site or not).

            <table class="table table-striped ">
                <thead>
                <tr>
                     <th>Site Name</th>
                     <th>Total Unique Visits</th>
                     <th>Total Loads</th>
                     <th>Timeseries by hours (time, visits, loads)</th>

                </tr>
                </thead>
                <tbody>
                {% for item in context.pages %}
                <tr>
                   <td>{{ item['s'] }}</td>
                   <td>{{ item['num_visits'] }}</td>
                   <td>{{ item['num_loads'] }}</td>
                   <td><pre>{{item['timeseries'] }}</pre></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

        <h3>3) Top-3 Site Correlations</h3>

        <p>Without profiling the user we can obtain useful data about relationships between sites. In here we measure
            the most popular co-ocurrences of sites by unique users, e.g. users visiting in the same session both focus.de and bild.de.

            <table class="table table-striped ">
                <thead>
                <tr>
                     <th>Pairwise Correlation</th>
                     <th>Total Unique Visits</th>
                     <th>Timeseries by hours (time, unique users)</th>
                </tr>
                </thead>
                <tbody>
                {% for item in context.correlations %}
                <tr>
                   <td>{{ item['s'] }}</td>
                   <td>{{ item['num_visits'] }}</td>
                   <td><pre>{{item['timeseries'] }}</pre></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>


        <h3>4) Top-10 Click Patterns</h3>

        <p>We can also capture click-through patterns, to safe-guard the privacy of the user we limited to length 3 and we
            omitted the transitions between different sites. This information although not the full picture allow us to
            get a good understanding of where the traffic to a specific pages comes from (if that was across sites, we can achieve
            the same goal with the goals as we will see later on).

            <table class="table table-striped ">
                <thead>
                <tr>
                     <th>Click-through Patterns</th>
                     <th>Total Unique Visits</th>
                     <th>Timeseries by hours (time, unique users)</th>
                </tr>
                </thead>
                <tbody>
                {% for item in context.patterns %}
                <tr>
                   <td>{{ item['s'] }}</td>
                   <td>{{ item['num_visits'] }}</td>
                   <td><pre>{{item['timeseries'] }}</pre></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>


        <h3>5) Goals</h3>

        <p>We can also obtain without collecting all navigation of the user complex analytics like goal achievements.

        <p>We have
            defined one goal in the experiment: a visit to page 10 in site 4, after visiting page 9 in the same site or visiting
            page 10 in site 5. For the goal to be achieve the user must complete it before 20 minutes or doing less that 4 page
            visits in between. This setup is typical of advertisement, you can think of the goal page as a successful signup page
            and the two initiators as pages containing ads for the signup.


        <table class="table table-striped ">
                <thead>
                <tr>
                     <th>Goal</th>
                     <th>Total Successes</th>
                     <th>Sources Breakdown (time, number of conversions, conversion rate)</th>
                </tr>
                </thead>
                <tbody>
                {% for item in context.goals %}
                <tr>
                   <td>{{ item['s'] }}</td>
                   <td>{{ item['num_succ'] }}</td>
                   <td><pre>{{item['timeseries'] }}</pre></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

    </div>

  </body>
</html>
