<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="/static/favicon.png">

    <title> {{ context.title }} </title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/style-log.css" rel="stylesheet">
  </head>

  <body>
    <div class="row container-fluid">
        <h1>Green-tracker Privacy Preserving Analytics Report</h1>

        {% if context.canned_report %}
        <p><em>This is a <span class="danger-text">frozen report</span>. The real-time report that updates as you interact with the demo pages is available <a href="/log">here</a>, however, it might contain less data</em>.
        {% endif %}
        <p>This report is built using the data collected by all users visiting sites and pages that contain the green-tracker agent. At the
            moment only the sites of the <a href="http://{{ context.site1 }}">demo</a>.

        <p>Since you have simulated one or multiple users (by switching browsers) you should be able to see you contribution on the report.
        For instance, visit a new page, the number of unique visitors should increase by 1. Reload the page many times, the
        uniques should stay the same but the page loads should increase. Achieve a campaign goal by visiting page 10 from site 4 after
        visiting page 9 of the same site or page 10 of site 5. As soon as you do the report will show that a new user has achieved the goal,
        without leaking any information about you.

        <p>Needless to say that this analytics are short of a toy example, but they cover a wide range of use cases of analytics services,
        which sadly rely on user tracking. To generate this report, we did NOT require to compromise the privacy of users in any way.


        <h3>1) Basic Stats</h3>

        <p>During the time of the experiment, from {{ context['stats']['min_ts'] }} to {{ context['stats']['max_ts'] }} we have seen:
        <ul>
            <li> {{ context['stats']['new_all'] }} totally new users (never seen before in any site)
            <li> {{ context['stats']['new_day'] }} unique users by day (all sites and all days)
            <li> {{ context['stats']['new_month'] }} unique users by month (all sites and all months)
        </ul>

        <h3>2) Top 3 sites</h3>

        <p>Popularity of sites, both as page loads (not unique) and as visits (uniques). We can also see the returning time
            of unique visitors, used to calculated retention.

            <table class="table table-striped ">
                <thead>
                <tr>
                     <th>Site Name</th>
                     <th>Total Unique Visits</th>
                     <th>Total Loads</th>
                     <th>Timeseries by hours (time, unique visits, loads)</th>
                     <th>Returning users</th>

                </tr>
                </thead>
                <tbody>
                {% for item in context.sites %}
                <tr>
                   <td>{{ item['s'] }}</td>
                   <td>{{ item['num_visits'] }}</td>
                   <td>{{ item['num_loads'] }}</td>
                   <td><pre>{{item['timeseries'] }}</pre></td>
                   <td><pre>{{ context.hreturning[item['s']] }}</pre></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

        <h3>2) Top 10 pages</h3>

        <p>The same for pages. This time we did not include return times, since retention is most meaningful at the
        level of the site rather than at the page level.

            <table class="table table-striped ">
                <thead>
                <tr>
                     <th>Site Name</th>
                     <th>Total Unique Visits</th>
                     <th>Total Loads</th>
                     <th>Timeseries by hours (time, visits, loads)</th>

                </tr>
                </thead>
                <tbody>
                {% for item in context.pages %}
                <tr>
                   <td>{{ item['s'] }}</td>
                   <td>{{ item['num_visits'] }}</td>
                   <td>{{ item['num_loads'] }}</td>
                   <td><pre>{{item['timeseries'] }}</pre></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

        <h3>3) Top-3 Site Correlations</h3>

        <p>Without tracking all browsing of the users we can calculate correlations among sites; i.e. so many
            people visited X and Y in the same session.

            <table class="table table-striped ">
                <thead>
                <tr>
                     <th>Pairwise Correlation</th>
                     <th>Total Unique Visits</th>
                     <th>Timeseries by hours (time, unique users)</th>
                </tr>
                </thead>
                <tbody>
                {% for item in context.correlations %}
                <tr>
                   <td>{{ item['s'] }}</td>
                   <td>{{ item['num_visits'] }}</td>
                   <td><pre>{{item['timeseries'] }}</pre></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>


        <h3>4) Top-10 Click Patterns</h3>

        <p>We can also capture click-through patterns within the site, the green-tracker agent will obfuscate any transition
            between sites, since they pose a privacy risk. This obfuscation is not done on the server, but on you browser,
            so the data already leaves you computer obfuscated.

            <table class="table table-striped ">
                <thead>
                <tr>
                     <th>Click-through Patterns</th>
                     <th>Total Unique Visits</th>
                     <th>Timeseries by hours (time, unique users)</th>
                </tr>
                </thead>
                <tbody>
                {% for item in context.patterns %}
                <tr>
                   <td>{{ item['s'] }}</td>
                   <td>{{ item['num_visits'] }}</td>
                   <td><pre>{{item['timeseries'] }}</pre></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>


        <h3>5) Goals</h3>

        <p>We can also obtain without collecting all navigation of the user complex analytics like goal achievements.

        <p>We have a single goal in the experiment, but we could have hundreds. The goal is achieved after a
            a visit to page 10 in site 4 (which could be a successful signup page), after visiting either page 9 of
            site 4 or page 10 of site 5, which could be pages containing advertisement or other content. For the goal
            to be achieved it must be completed in less that 20 minutes and by doing less than 4 hopes; the goal
            creator can set-up arbitrarily complex rules.

            The report will show how many user converted, from where, and which is the conversion rate. All without
            sending any information about the user.

        <table class="table table-striped ">
                <thead>
                <tr>
                     <th>Target Goal</th>
                     <th>Total Successes</th>
                     <th>Sources Breakdown (time, source, number of conversions, conversion rate)</th>
                </tr>
                </thead>
                <tbody>
                {% for item in context.goals %}
                <tr>
                   <td>{{ item['s'] }}</td>
                   <td>{{ item['num_succ'] }}</td>
                   <td><pre>{{item['timeseries'] }}</pre></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

        <h3>6) Aggregate Data by User</h3>

        <p>We can also obtain aggregated data by user such as the number of page loaded on a given site, or the
            average time spend of the site segmented by users. All this with relying on tracking, and without
            having to use beacons to measure time either. The label
            'annon user' is added to stress that this is the per-user aggregated data on the given hour.

        <table class="table table-striped ">
                <thead>
                <tr>
                     <th>Site</th>
                     <th>Hour</th>
                     <th>Breakdown by user (number of page loads, average time spend in the page))</th>
                </tr>
                </thead>
                <tbody>
                {% for item in context.agg %}
                <tr>
                   <td>{{ item['s'] }}</td>
                   <td>{{ item['ts'] }}</td>
                   <td><pre>{{item['timeseries'] }}</pre></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>


    </div>

  </body>
</html>
