<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="/static/favicon.png">

    <title> {{ context.title }} </title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="/static/extern/bootstrap.min.css" rel="stylesheet"> -->
    <!-- Custom styles for this template -->
    <link href="/static/style.css" rel="stylesheet">
  </head>

  <script>

    {% if 'accelerate' in context %}
        setInterval(function(){
            try{
                window.document.getElementById('curr-time').innerHTML="Accelerated time: (x{{ context.get('accelerate',{}).get('speed',1) }}): " + getDate().toJSON().slice(0,19);
            } catch(ee) {};
        }, 2000);

        var getDate = function() {
            var timeMilis = (new Date()).getTime();
            var extraMilis = (timeMilis-{{ context['accelerate']['start_time'] }})*{{ context['accelerate']['speed'] }};
            return new Date(timeMilis+extraMilis);
        }
    {% else %}
        var getDate = function() { return new Date() };
    {% endif %}

    window.onload = function() {
        var s = ''+document.location.href;
        document.getElementById("gt").contentWindow.postMessage(s,"http://{{ context.tracker_host }}");
        {% if 'accelerate' in context %}
            window.document.getElementById('curr-time').innerHTML="Accelerated time: (x{{ context.get('accelerate',{}).get('speed',1) }}): " + getDate().toJSON().slice(0,19);
        {% endif %}
    };

    /*
    {% if 'accelerate' in context %}
    try {
        window.document.getElementById('curr-time').innerHTML="Accelerated time: (x{{ context.get('accelerate',{}).get('speed',1) }}): " + getDate().toJSON().slice(0,19);
    } catch(ee) {};
    {% endif %}
    */


  </script>

  <body class="{{ context.bg }}">
    <!--
    <div class="row container-fluid">
        <h1>Welcome to {{ context.title }}</h1>
        <div id="desc">
            <p>Please navigate across the multiple pages and even across different domains.
            <p>As you browse, the data the data collected by <em>green-tracker</em> is available a the <a href="http://{{context.tracker_host}}/log">here</a>.</p>
            <p>To simulate different users you must use different browsers or press <a href="javascript:reset()">reset</a> to start as a new user.</p>
            <p>&nbsp;<span id="curr-time"></span></p>
        </div>
    </div>
    -->
    <div class="row">

        <div class="col-md-6">
            <div class="description">
            <h3>Privacy Preserving Tracking</h3>
            <p>This is a demo of a privacy-preserving analytics service that can cover a wide range
                of use-cases:
                <ul>
                <li>Unique visits and page loads.
                <li>Returning customers.
                <li>Goal conversion, to track campaigns.
                <li>Cross site correlations.
                <li>In-site click-throughs.
                <li>Average time on page by user.
                </ul>

            <p> Feel free to click around to simulate you are browsing the Web, you can use
                different browsers to act as different users.
            <p> The real-time analytics reports is available at <a href="http://{{context.tracker_host}}/logs">Analytics Report Log</a>.
            <p> (if it has little data, you can see a <a href="http://{{context.tracker_host}}/logfile?name=logs/collect.jl.bkp1">canned version</a> of it)

            <p>We hope to showcase that server-side data aggregation by user is not actually needed.
                If your business is audience measurement, advertisement,
                analytics. It is possible to avoid using user tracking techniques, all information that
                you require can be gathered using client-side aggregation, which is free of side-effects.
                Check out the <a href="view-source:http://{{context.tracker_host}}/frame">green-tracker agent</a>). If your business is to really track users,
                then move along, nothing to see here.

            <p>After clicking around a bit you can see what green-trackers has "learned" about you:
                <ul>
                    <li><a href="http://{{context.tracker_host}}/introspect/messages">Messages sent to green-tracker backend</a>
                    <li><a href="http://{{context.tracker_host}}/introspect/localstorage">Your footprint of green-tracker localStorage</a>
                </ul>

            </ul>
            </div>
        </div>

        <div class="col-md-6 links">
            <h3>{{ context.title }}</h3>
            <div class="row container-fluid">
                <div class="row">
                  <div class="col-md-6">
                    <ul class="list-unstyled">
                    {% for item in context.other_pages %}
                       <li><a href="{{ item[0] }}">{{ item[1] }}</a></li>
                    {% endfor %}
                    </ul>
                  </div>

                   <div class="col-md-6">
                    <ul class="list-unstyled">
                    {% for item in context.other_sites %}
                        <li><a href="{{ item[0] }}">{{ item[1] }}</a></li>
                    {% endfor %}
                    </ul>
                  </div>
                </div>
            </div>
        </div>
    </div>


    <iframe id="gt" src="http://{{context.tracker_host}}/frame" style="display: none;"/>
    <!-- Bootstrap core JavaScript -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!--
    <script src="/static/extern/jquery.min.js"></script>
	<script src="/static/extern/bootstrap.min.js"></script>
	-->
  </body>
</html>
