/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}


/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  //background-color: #333;
}

body {
  /* text-shadow: 0 1px 2px rgba(0,0,0,.5); */
}

div#desc {
    text-shadow: none;
}

.rr {
    height: 100px;
}

.fill {
    min-height: 100%;
    height: 100%;
}

.description {
    text-shadow: none;
    text-align: left;
    padding: 20px 20px;
    background-color: #EEE;
    font-weight: normal;
    font-size: 14px;
    color: #000;
}

.links {
    text-shadow: none;
    text-align: left;
    padding: 20px 20px;
    text-align: center;
    color: #FFF;
}

.mcenter {
    text-align: center;
}

.danger {
    background-color: rgba(100,10,0,1.0);
    text-align: left;
    padding: 10px 10px;
    display: block;
    color: #EEE;
}

#suser {
    color: rgba(10,200,0,1.0);
}

#scred {
    color: rgba(10,200,0,1.0);
    font-weight: bold;
}

#desc a:active, a:focus, a:hover, a:visited, a:link {
    color: rgba(55,120,210,1.0);
}

.bg-color-site-1 {
    background-color: rgba(0,40,0,1.0);
}

.bg-color-site-2 {
    background-color: rgba(40,40,0,1.0);
}

.bg-color-site-3 {
    background-color: rgba(0,40,40,1.0);
}

.bg-color-site-4 {
    background-color: rgba(40,0,40,1.0);
}

.bg-color-site-5 {
    background-color: rgba(40,40,40,1.0);
}


